<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Выплаты</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h2>Информация по выплатам: <span th:text="${person.name}"></span></h2>
    </div>

    <div class="row">
        <div class="col-3">
            <form method="POST" th:action="@{'/person/' + ${person.id} + '/payment'}">
                    <div class="mb-3">
                        <label>Дата выплаты:</label>
                        <input type="date" class="form-control" name="date">
                    </div>
                    <div class="mb-3">
                        <label>Сумма начисления:</label>
                        <input type="text" class="form-control" name="insSalary">
                    </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Добавить начисление</button>
                </div>
            </form>
        </div>
        <div class="col-9">
            <table class="table table-striped">
                <tr>
                    <td>Дата выплаты</td>
                    <td>Стандартная ставка</td>
                    <td>Сумма выплаты</td>
                    <td>Действие</td>
                </tr>
                <tr th:each="pay : ${payments}">
                    <td th:text="${pay.date}"></td>
                    <td th:text="${person.salary}"></td>
                    <td th:text="${pay.insSalary}"></td>
                    <td><a th:href="@{'/person/' + ${person.id} + '/payment/delete?date=' + ${pay.date}}">Удалить</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>